
 .banner-image{ padding-top: 50px;
              padding-bottom: 50px;
              color: #f8f8f8;
              background-size:cover;
              background-repeat: no-repeat;
              background-position: center;
}

.slideshow-container {
  max-width: 1284px;
  max-height: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.thumbnail img{
    max-height: 150px;
}
main {
    min-height: 100vh;
}


footer {
  background-color: #292929;
  color: #fff;
  padding: 4rem 0;
  line-height: 1.5;
  letter-spacing: 1px;
  bottom: 0
}


.row_style{margin-top: 70px;
}
 h2{font-weight: bolder;
 }
 .jumbotron_style{margin-top: 70px;
 }
 .table_style{margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }





 .testimonials-section {
   background-color: #eec7b5;
   color: #292929;
   font-weight: 400;
   padding: 7rem 3rem;
 }

 .testimonials-section h2 {
     text-align: center;
     padding-bottom: 5rem;
 }

 .testimonials-section span {
   text-align: right;
   font-weight: bold;
 }

 .testimonials-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 2rem;
   margin: 0 auto;
   max-width: 1000px;
 }

 .testimonial {
   display: flex;
   flex-flow: column;
   border: 1px solid #e5e5e5;
   box-shadow: 2px 3px #5a5a5a;
   padding: 2rem;
   justify-content: center;
   max-width: 300px;
   background-color: #fff;
 }

 .testimonial p {
   padding-top: 2rem;
   padding-right: 1rem;
   padding-left: 1rem;
   text-align: left;
 }

 .review p {
   text-indent: 20px;
 }

 .testimonial-image-wrapper {
   /* max-width: 175px; */
   align-self: center;
 }

 .testimonial-image-wrapper img {
   /* align-self: center; */
   max-width: 150px;
   border-radius: 50%;
 }











 .contact {
   background-color: #fff;
   padding: 7rem 3rem;
 }

 .contact h2 {
     text-align: center;
     padding-bottom: 5rem;
 }

 .form {
     font-family: "Overpass", sans-serif;
 }
 .form-style-1 {
 	margin:10px auto;
 	max-width: 400px;
 	padding: 20px 12px 10px 20px;
 	font: 16px "Overpass", sans-serif;
 }
 .form-style-1 li {
 	padding: 0;
 	display: block;
 	list-style: none;
 	margin: 10px 0 0 0;
 }
 .form-style-1 label{
 	margin:0 0 3px 0;
 	padding:0px;
 	display:block;
 	font-weight: bold;
 }
 .form-style-1 input[type=text],
 .form-style-1 input[type=date],
 .form-style-1 input[type=datetime],
 .form-style-1 input[type=number],
 .form-style-1 input[type=search],
 .form-style-1 input[type=time],
 .form-style-1 input[type=url],
 .form-style-1 input[type=email],
 textarea,
 select{
 	box-sizing: border-box;
 	border:1px solid #BEBEBE;
 	padding: 7px;
 	margin:0px;
 	outline: none;
 }
 .form-style-1 input[type=text]:focus,
 .form-style-1 input[type=date]:focus,
 .form-style-1 input[type=datetime]:focus,
 .form-style-1 input[type=number]:focus,
 .form-style-1 input[type=search]:focus,
 .form-style-1 input[type=time]:focus,
 .form-style-1 input[type=url]:focus,
 .form-style-1 input[type=email]:focus,
 .form-style-1 textarea:focus,
 .form-style-1 select:focus{
 	border: 1px solid #eec7b5;
 }
 .form-style-1 .field-divided{
 	width: 49%;
 }

 .form-style-1 .field-long{
 	width: 100%;
 }
 .form-style-1 .field-select{
 	width: 100%;
 }
 .form-style-1 .field-textarea{
 	height: 100px;
 }
 .form-style-1 input[type=submit], .form-style-1 input[type=button]{
 	background: #eec7b5;
 	padding: 8px 15px 8px 15px;
 	border: none;
 	color: #fff;
 }
 .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
 	background: #eec7b5;
 	box-shadow:none;
 }
 .form-style-1 .required{
 	color: #eec7b5;
 }

 .subject span {
     color:  #e5e5e5;
 }









 .footer {
   width: 100%;
   height: 100%;
 }


.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

 .footer-icons {
   display: block;
   text-align: center;
   font-size: 2rem;
   padding-bottom: 0px;
 }

 .footer-icons-li { /* previously .footer-social-media li */
   display: inline-block;
   text-align: center;
   width: 3rem;
   padding: 2rem;
   color: #eec7b5;
 }

 .footer-icons-li a {
   text-decoration: none;
   color: #eec7b5;
 }

 .footer-icon {
   cursor: pointer;
 }

 .footer-links a {
   color: #fff;
   text-decoration: none;
 }

 .footer-link-li:hover {
   /* background-color: #5a5a5a; */
   font-size: 115%;
 }

 .footer-row {
   display: flex;
   flex-direction: column-reverse;
    align-items: center;
   justify-content: center;
   text-align: center;
    min-width: 320px;
 }

 @media (min-width: 1041px) {
   .footer-row {
     /* width: 360px; */
     flex-direction: row;
   }
 }

 .footer-column {
   flex: 33.33%;
   min-width: 320px;
 }
